<!DOCTYPE html>
<html lang="en" ng-app="my-app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <p>Main page with ng-view</p>
</div>

<div ng-view="" autoscroll="true"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<!--Angular Core-->
<script src="/webjars/angularjs/angular.min.js" type="text/javascript"></script>
<!--Angular router-->
<script src="/webjars/angularjs/angular-route.min.js" type="text/javascript"></script>

<script type="text/javascript">
    var app = angular.module('my-app', ['ngRoute']);

    app.config(function ($httpProvider, $routeProvider, $locationProvider) {
        $locationProvider.hashPrefix('');
        $routeProvider
            .when('/', {
                templateUrl: 'templates/dashboard.html',
                controller: ''
            })
            .otherwise(
                {redirectTo: '/'}
            );
        $httpProvider.defaults.headers.common["X-Requested-With"] = 'XMLHttpRequest';
    });
</script>
</body>
</html>
